<template>
    <div class="main-nav">
        <v-toolbar dark app fixed flat :clipped-left="$vuetify.breakpoint.mdAndUp">
            <v-btn icon>
                <v-icon @click.stop="drawer = !drawer">menu</v-icon>
            </v-btn>
            <v-text-field flat solo-inverted label="Search" class="hidden-sm-and-down"></v-text-field>
            <span>Gooday admin</span>
            <v-btn icon>
                <v-icon>flash_on</v-icon>
            </v-btn>
            <v-btn icon>
                <v-icon>notification_important</v-icon>
            </v-btn>
            <v-menu offset-y>
                <v-btn icon slot="activator">
                    <v-icon>account_circle</v-icon>
                </v-btn>
                <v-list>
                    <v-list-tile v-for="(item, index) in userMenuList" :key="index">
                        <v-list-tile-title>
                            <nuxt-link :to="item.url">{{item.text}}</nuxt-link>
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar>
        <v-navigation-drawer app fixed width="60" :clipped="$vuetify.breakpoint.mdAndUp" v-model="drawer">
            <v-list dense>
                <v-list-tile v-for="item in navItem" v-bind:key="item.name">
                    <nuxt-link :to="item.url" :title="item.name"><v-icon>{{item.icon}}</v-icon></nuxt-link>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false,
                drawer: null,
                userMenuList: [
                    {
                        text: 'Profile',
                        url: '/profile'
                    },
                    {
                        text: 'Settings',
                        url: '/settings'
                    },
                    {
                        text: 'Logout',
                        url: '/'
                    }

                ],
                navItem: [{
                        name: "Dashboard",
                        url: "/dashboard",
                        icon: 'aspect_ratio'
                    },
                    {
                        name: "Projects",
                        url: "/project",
                        icon: 'chrome_reader_mode'
                    },
                    {
                        name: "Task",
                        url: "/task",
                        icon: 'list'
                    },
                    {
                        name: "Ops Ticket",
                        url: "/ops",
                        icon: 'developer_board'
                    },
                    {
                        name: "Studio",
                        url: "/studio",
                        icon: 'important_devices'
                    },
                    {
                        name: "Time Tracker",
                        url: "/timetracker",
                        icon: 'timer'
					},
					{
                        name: "Approvals",
                        url: "/approval",
                        icon: 'spellcheck'
                    },
                    {
                        name: "Files",
                        url: "/file",
                        icon: 'cloud_upload'
                    },
                    {
                        name: "Users",
                        url: "/user",
                        icon: 'supervised_user_circle'
                    },
                    {
                        name: "Groups",
                        url: "/group",
                        icon: 'group'
                    },
                    {
                        name: 'ACL',
                        url: '/acl',
                        icon: 'accessibility'
                    },
                    {
                        name: 'Application Settings',
                        url: '/settings',
                        icon: 'settings'
                    }
                ]
            };
        }
    };

</script>

<style lang="scss">
    .main-nav {
        .v-toolbar {
            background: #021d8e !important;
            .v-toolbar__content {
                padding: 0px 18px !important;
            }
            .v-input__control {
                min-height: 40px;
                width: 60%;
                flex-grow: 0;
                > div {
                    margin-bottom: 0px !important;
                }
            }
        }
        .v-navigation-drawer {
            .v-list {
                padding: 0px 0px;
                .v-list__tile {
                    height: auto;
                }
                a {
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    display: block;
                    padding: 10px 0px;
                    text-align: center;
                    &.nuxt-link-active{
                        i {
                            color: #fb0b0b;
                        }
                    }
                    .v-icon {
                        font-size: 25px;
                        color: #000;
                    }
                }
            }
        }
    }
</style>
