<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center>
            <v-flex xs12 sm12>
                <h1>approval create</h1>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        components: {

        },
        data() {
            return {

            }
        },
        mounted() {

        }
    }
</script>

<style lang="scss">

</style>