$bg-primary: #1A237E;
$bg-secondary: #0028d0;
$bg-tertiary: #efefef;

$border-primary: #77c16b;
$border-secondary: #3d37fd;
$border-tertiary: #ff525f;

$text-primary: #303F9F;
$text-secondary: #2E7D32;
