/**********************************************************************************************************************
 * 
 * CUSTOM VUETIFY SASS CODE HERE
 * 
 ***********************************************************************************************************************/

.page-enter-active, .page-leave-active {
    position:absolute;
    max-width:725.328px; /*make sur our content keep it's original width*/
    transition: all .1s ease;
}

/* entering start */  
.page-enter {
    left: -100%;
}

/* entering end */
.page-enter-to {
    left: 0;
}

/* leaving start */
.page-leave {
    opacity: 1;
}

/* leaving end */
.page-leave-to {
    opacity: 0;
}

html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.application {
    font-family: 'Montserrat', sans-serif !important;
    background: #ffffff !important;
}

.container {
    padding: 15px;
}

.v-btn {
    &.btn-no-margin-lr {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.v-tabs__container {
    height: 70px;
    .v-tabs__div {
        background: #efefef;
    }
}

.v-select__selections {
    padding-top: 0px !important;
}

.v-expansion-panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.v-expansion-panel__container--active .v-expansion-panel__header {
    background: #efefef;
}

.v-text-field__details {
    padding: 0px 0px !important;
}

/**********************************************************************************************************************
 * 
 * CUSTOM SASS CODE HERE
 * 
 ***********************************************************************************************************************/

table {
    thead {
        tr {
            height: auto !important;
            padding: 10px 0px;
            &.datatable__progress {
                display: none;
            }
        }
    }
    thead,tbody {
        tr {
            &:not(:last-child) {
                border-bottom: 1px solid $bg-tertiary !important;
            }
        }
        th {
            font-weight: 600 !important;
            font-size: 12px !important;
            padding: 14px 24px !important;
            outline: none;
            text-transform: uppercase;
        }
        td {
            &:first-child {
                font-weight: 600;
                &.border-primary {
                    border-left: 7px solid $border-primary;
                }
                &.border-secondary {
                    border-left: 7px solid $border-secondary;
                }
                &.border-tertiary {
                    border-left: 7px solid $border-tertiary;
                }
                &.online {
                    border-left: 7px solid $border-primary;
                }
                &.offline {
                    border-left: 7px solid $bg-tertiary;
                }
            }
            padding: 14px 24px !important;
            font-size: 11px;
            outline: none;
        }
    }
}

.filters {
    position: absolute; 
    right: 0px; 
    top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    .v-input {
        flex: 0;
        display: inline-block;
        margin-top: 7px;
        .v-input--switch {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    div[role=combobox] {
        width: 250px;
        font-size: 13px;
        .v-input__slot {
            min-height: 1px;
        }
        .v-input__append-inner {
            margin-top: 5px;
        }
        .v-select__selections {
            padding-top: 0px !important;
        }
        .v-input input {
            max-height: 33px !important;
        }
    }
}

.tasks-panel {
    .v-expansion-panel {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}