<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center>
            <v-flex xs12 sm12>
                <v-select outline :items="userRoles"></v-select>
                <v-expansion-panel light>
                    <v-expansion-panel-content v-for="(page,i) in pages" :key="i">
                        <div slot="header">{{page}}</div>
                        <v-card class="access-list">
							<v-list>
								<v-list-tile-content v-for="(access, index) in accessList" :key="index">
									<v-checkbox :label="access"></v-checkbox>
								</v-list-tile-content>
							</v-list>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-btn color="success" class="btn-no-margin-lr">Save</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                userRoles: [
                    'Management',
                    'Leader',
                    'Desginer',
                    'Developer',
                    'QA',
                    'Staff',
                    'Client',
                    'Studio Leader',
                    'Project Manager',
                    'Head of Marketing'
                ],
                accessList: [
                    'Create', 'Destroy', 'Edit', 'Index', 'Show', 'Store', 'Update'
                ],
                pages: [
                    'Acl', 'Projects', 'Dashboard', 'Database', 'Filestorage', 'Groups', 'Settings', 'Studio',
                    'Tasks', 'Timeblocks', 'Unbounce', 'Users', 'Whiteboard'
                ]
            }
        },
        mounted() {

        }
    }

</script>

<style lang="scss" scoped>
	.access-list {
		padding: 0px 80px;
    }
    .v-btn {
        margin-top: 20px;
        width: 400px;
        height: 50px;
    }
</style>
