<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center justify-center fill-height>
            <v-flex xs12 sm12 md4>
                <form class="login">
					<img src="http://staging.lkgconnect.net/images/logo-wh.png" class="logo">
                    <v-text-field v-validate="'required|email'" v-model="email" :error-messages="errors.collect('email')" data-vv-name="email"
                        required outline prepend-inner-icon="alternate_email"></v-text-field>
                    <v-btn color="primary" @click="passwordReset">Reset Password</v-btn>
                </form>
				<nuxt-link :to="'/'">Back to Home page</nuxt-link>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import Vuetify from 'vuetify'
    import VeeValidate from 'vee-validate'

    Vue.use(VeeValidate)
    Vue.use(Vuetify)

    export default {
        layout: 'login',
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                posts: null,
                password: '',
                email: '',
                dictionary: {
                    attributes: {
                        email: 'E-mail Address'
                        // custom attributes
                    },
                    custom: {
                        password: {
                            required: () => 'Password can not be empty',
                            max: 'The password field may not be greater than 10 characters'
                            // custom messages
                        },
                        select: {
                            required: 'Select field is required'
                        }
                    }
                }
            }
        },
        head() {
            return {
                title: 'LKG Connect | Password Reset',
                meta: [{
                    hid: 'description',
                    name: 'description',
                    content: 'My custom description'
                }]
            }
        },
        asyncData() {
            return {
                num1: 234234
            }
        },
        fetch() {
            return axios.get('https://jsonplaceholder.typicode.com/posts').then(response => {
                this.posts = response.data
            })
        },
        methods: {
            passwordReset() {
                alert('reset password')
                //this.$validator.validateAll()
                //this.$router.push('/dashboard')
                //console.log(this.$router)
            },
            clear() {
                this.passworde = ''
                this.email = ''
                this.$validator.reset()
            }
        },
        mounted() {
            this.$validator.localize('en', this.dictionary)
            console.log(this.posts)
            console.log(this.num1)
        }
    }

</script>

<style lang="scss">
	img.logo {
		filter: invert(100%);
		margin: 0 auto 30px;
		display: block;
	}

    form.login {
		margin-top: 5vh;
		margin-bottom: 15px;
        input[type=text],
        input[type=password] {
			height: 56px;
            max-height: 56px !important;
            margin-top: 0px !important;
			font-size: 20px;
		}
		button {
			margin: 0px 0px;
			width: 100%;
			height: 56px;
			font-size: 20px;
		}
    }
</style>
