<template>
<transition name="test" mode="out-in">
    <v-form>
        <v-container fluid grid-list-xl>
            <v-layout row wrap align-center>

                <v-flex xs12 sm6 md6>
                    <v-text-field placeholder="Name" type="text" outline="true"></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 md6>
                    <v-text-field placeholder="Email" type="text" outline></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 md6>
                    <v-text-field placeholder="Password" type="password"></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 md6>
                    <v-select :items="access" placeholder="Access"></v-select>
                </v-flex>

                <v-flex xs12 sm6 md6>
                    <v-select :items="jobrole" placeholder="Job role"></v-select>
                </v-flex>

                <v-flex xs12 sm6 md6>
                    <v-select  :items="multirole" placeholder="MultiRoles" outline="true"></v-select>
                </v-flex>

                <v-flex xs12 sm6 md6>
                    <v-select :items="group" placeholder="Group" outline="true"></v-select>
                </v-flex>

                <v-flex xs12 sm12 md12>
                    <v-btn depressed color="info" type="submit">Add User</v-btn>
                </v-flex>

            </v-layout>
        </v-container>
    </v-form>
</transition>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import Vuetify from 'vuetify'
    Vue.use(Vuetify)
    export default {
        data() {
            return {
                access: ['client', 'create manager', 'designer'],
                jobrole: ['admin', 'brief owner', 'client'],
                multirole: ['admin', 'brief owner', 'client'],
                group: ['admin', 'brief owner', 'client'],
                items: ['admin', 'brief owner', 'client']
            }
        },
        mounted() {

        }
    }
</script>

<style lang="scss">

</style>