<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center>
            <v-flex xs12 sm12>
                <v-data-table hide-actions :headers="headers" :items="users">
                    <tr slot="items" slot-scope="props" :key="props.item.id">
                        <td v-borderLeft="props.item.online">
                            <v-icon>account_circle</v-icon> 
                            <nuxt-link :to="'/user/' + props.item.id">
                                {{props.item.name}}
                            </nuxt-link>
                        </td>
                        <td>{{props.item.email}}</td>
                        <td>
                            <span v-for="(usergroup, index) in props.item.user_groups" :key="index">{{usergroup.title}}&nbsp;</span>
                        </td>
                        <td>
                            {{props.item.access}}
                        </td>
                        <td>
                            <div class="controls">
                                <v-btn icon>
                                    <nuxt-link :to="'/user/edit/' + props.item.id"><v-icon>edit</v-icon></nuxt-link>
                                </v-btn>
                                <v-btn icon>
                                    <v-icon>delete_forever</v-icon>
                                </v-btn>
                            </div>
                        </td>
                    </tr>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                users: [
                    {
                    "id": 1,
                    "name": "Darrell Deveraux",
                    "email": "ddeveraux0@lycos.com",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "PH"
                        },
                        {
                            "title": "PL"
                        },
                        {
                            "title": "RU"
                        }
                    ],
                    "access": "Budget/Accounting Analyst III",
                    "active": true,
                    "online": true
                }, {
                    "id": 2,
                    "name": "Reggi Cowley",
                    "email": "rcowley1@biglobe.ne.jp",
                    "user_groups": [{
                            "title": "AR"
                        },
                        {
                            "title": "HN"
                        },
                        {
                            "title": "PL"
                        }
                    ],
                    "access": "Design Engineer",
                    "active": true,
                    "online": false
                }, {
                    "id": 3,
                    "name": "Tito Peschke",
                    "email": "tpeschke2@webeden.co.uk",
                    "user_groups": [{
                        "title": "NG"
                    }],
                    "access": "Design Engineer",
                    "active": true,
                    "online": false
                }, {
                    "id": 4,
                    "name": "Jayne Box",
                    "email": "jbox3@twitpic.com",
                    "user_groups": [{
                            "title": "VN"
                        },
                        {
                            "title": "BT"
                        },
                        {
                            "title": "ID"
                        }
                    ],
                    "access": "Software Test Engineer III",
                    "active": true,
                    "online": false
                }, {
                    "id": 5,
                    "name": "Maurene Rosin",
                    "email": "mrosin4@xrea.com",
                    "user_groups": [{
                        "title": "ID"
                    }],
                    "access": "Research Assistant IV",
                    "active": false,
                    "online": false
                }, {
                    "id": 6,
                    "name": "Torey Ashmole",
                    "email": "tashmole5@upenn.edu",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "PT"
                        }
                    ],
                    "access": "Biostatistician III",
                    "active": false,
                    "online": true
                }, {
                    "id": 7,
                    "name": "Abbe Kitchingman",
                    "email": "akitchingman6@boston.com",
                    "user_groups": [{
                        "title": "VE"
                    }],
                    "access": "Project Manager",
                    "active": false,
                    "online": false
                }, {
                    "id": 8,
                    "name": "Griff Tolomelli",
                    "email": "gtolomelli7@usatoday.com",
                    "user_groups": [{
                        "title": "ID"
                    }],
                    "access": "Payment Adjustment Coordinator",
                    "active": false,
                    "online": true
                }, {
                    "id": 9,
                    "name": "Jozef Cran",
                    "email": "jcran8@networkadvertising.org",
                    "user_groups": [{
                            "title": "MX"
                        },
                        {
                            "title": "MX"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "MN"
                        }
                    ],
                    "access": "Account Coordinator",
                    "active": false,
                    "online": false
                }, {
                    "id": 10,
                    "name": "Cly Keedy",
                    "email": "ckeedy9@go.com",
                    "user_groups": [{
                            "title": "KE"
                        },
                        {
                            "title": "RU"
                        }
                    ],
                    "access": "Programmer I",
                    "active": false,
                    "online": false
                }, {
                    "id": 11,
                    "name": "Tildy Sweetmore",
                    "email": "tsweetmorea@techcrunch.com",
                    "user_groups": [{
                            "title": "CH"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Senior Quality Engineer",
                    "active": false,
                    "online": true
                }, {
                    "id": 12,
                    "name": "Giavani Dugmore",
                    "email": "gdugmoreb@noaa.gov",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "MX"
                        },
                        {
                            "title": "CZ"
                        }
                    ],
                    "access": "Information Systems Manager",
                    "active": true,
                    "online": false
                }, {
                    "id": 13,
                    "name": "Georgie Gellately",
                    "email": "ggellatelyc@shareasale.com",
                    "user_groups": [{
                            "title": "TH"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "ET"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "US"
                        }
                    ],
                    "access": "Safety Technician I",
                    "active": false,
                    "online": true
                }, {
                    "id": 14,
                    "name": "Kiley Beauchamp",
                    "email": "kbeauchampd@xrea.com",
                    "user_groups": [{
                            "title": "NA"
                        },
                        {
                            "title": "BR"
                        },
                        {
                            "title": "CZ"
                        }
                    ],
                    "access": "Structural Engineer",
                    "active": false,
                    "online": false
                }, {
                    "id": 15,
                    "name": "Terza O'Sheerin",
                    "email": "tosheerine@discuz.net",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "PE"
                        },
                        {
                            "title": "CA"
                        }
                    ],
                    "access": "Executive Secretary",
                    "active": true,
                    "online": true
                }, {
                    "id": 16,
                    "name": "Ines Skeermer",
                    "email": "iskeermerf@nifty.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "AR"
                        },
                        {
                            "title": "RU"
                        }
                    ],
                    "access": "Technical Writer",
                    "active": true,
                    "online": true
                }, {
                    "id": 17,
                    "name": "Raymund Bartle",
                    "email": "rbartleg@weibo.com",
                    "user_groups": [{
                            "title": "FI"
                        },
                        {
                            "title": "BR"
                        }
                    ],
                    "access": "Administrative Assistant IV",
                    "active": true,
                    "online": true
                }, {
                    "id": 18,
                    "name": "Adore Houson",
                    "email": "ahousonh@sun.com",
                    "user_groups": [{
                        "title": "CO"
                    }],
                    "access": "Web Designer I",
                    "active": true,
                    "online": false
                }, {
                    "id": 19,
                    "name": "Bridgette Cordle",
                    "email": "bcordlei@lulu.com",
                    "user_groups": [{
                            "title": "RU"
                        },
                        {
                            "title": "RU"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "US"
                        },
                        {
                            "title": "UG"
                        }
                    ],
                    "access": "Assistant Manager",
                    "active": true,
                    "online": true
                }, {
                    "id": 20,
                    "name": "Patricia Akitt",
                    "email": "pakittj@yolasite.com",
                    "user_groups": [{
                            "title": "BR"
                        },
                        {
                            "title": "HN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "FR"
                        },
                        {
                            "title": "BR"
                        }
                    ],
                    "access": "VP Accounting",
                    "active": true,
                    "online": false
                }, {
                    "id": 21,
                    "name": "Herta Timeby",
                    "email": "htimebyk@usgs.gov",
                    "user_groups": [{
                            "title": "AF"
                        },
                        {
                            "title": "BR"
                        },
                        {
                            "title": "RS"
                        },
                        {
                            "title": "BR"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Payment Adjustment Coordinator",
                    "active": false,
                    "online": true
                }, {
                    "id": 22,
                    "name": "Meade Vsanelli",
                    "email": "mvsanellil@imgur.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "BR"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "NG"
                        },
                        {
                            "title": "MX"
                        }
                    ],
                    "access": "Database Administrator IV",
                    "active": true,
                    "online": false
                }, {
                    "id": 23,
                    "name": "Kylie Clell",
                    "email": "kclellm@hud.gov",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "SE"
                        },
                        {
                            "title": "UA"
                        },
                        {
                            "title": "KZ"
                        }
                    ],
                    "access": "Geological Engineer",
                    "active": false,
                    "online": false
                }, {
                    "id": 24,
                    "name": "Kaylee Fant",
                    "email": "kfantn@bing.com",
                    "user_groups": [{
                        "title": "GR"
                    }],
                    "access": "Programmer III",
                    "active": false,
                    "online": true
                }, {
                    "id": 25,
                    "name": "Lorinda Sudddard",
                    "email": "lsudddardo@illinois.edu",
                    "user_groups": [{
                            "title": "JP"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Nurse",
                    "active": false,
                    "online": true
                }, {
                    "id": 26,
                    "name": "Rodie Kirrage",
                    "email": "rkirragep@people.com.cn",
                    "user_groups": [{
                            "title": "PE"
                        },
                        {
                            "title": "RU"
                        },
                        {
                            "title": "RS"
                        },
                        {
                            "title": "US"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Mechanical Systems Engineer",
                    "active": true,
                    "online": false
                }, {
                    "id": 27,
                    "name": "Rosette Fairrie",
                    "email": "rfairrieq@apple.com",
                    "user_groups": [{
                            "title": "PT"
                        },
                        {
                            "title": "KR"
                        }
                    ],
                    "access": "Civil Engineer",
                    "active": false,
                    "online": false
                }, {
                    "id": 28,
                    "name": "Nelie Reeve",
                    "email": "nreever@multiply.com",
                    "user_groups": [{
                            "title": "NO"
                        },
                        {
                            "title": "PL"
                        }
                    ],
                    "access": "General Manager",
                    "active": false,
                    "online": false
                }, {
                    "id": 29,
                    "name": "Shawn Pelosi",
                    "email": "spelosis@reuters.com",
                    "user_groups": [{
                            "title": "AL"
                        },
                        {
                            "title": "RU"
                        }
                    ],
                    "access": "Nurse",
                    "active": false,
                    "online": false
                }, {
                    "id": 30,
                    "name": "Lyndsay D'orsay",
                    "email": "ldorsayt@washington.edu",
                    "user_groups": [{
                            "title": "PE"
                        },
                        {
                            "title": "PT"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Mechanical Systems Engineer",
                    "active": true,
                    "online": true
                }, {
                    "id": 31,
                    "name": "Rodrick Elbourn",
                    "email": "relbournu@narod.ru",
                    "user_groups": [{
                            "title": "ZA"
                        },
                        {
                            "title": "TH"
                        },
                        {
                            "title": "RU"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Electrical Engineer",
                    "active": false,
                    "online": false
                }, {
                    "id": 32,
                    "name": "Ky Roderham",
                    "email": "kroderhamv@nymag.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "CR"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "LK"
                        }
                    ],
                    "access": "Speech Pathologist",
                    "active": false,
                    "online": false
                }, {
                    "id": 33,
                    "name": "Rayshell Togwell",
                    "email": "rtogwellw@unesco.org",
                    "user_groups": [{
                            "title": "BY"
                        },
                        {
                            "title": "MM"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Computer Systems Analyst I",
                    "active": false,
                    "online": false
                }, {
                    "id": 34,
                    "name": "Merle Buckney",
                    "email": "mbuckneyx@delicious.com",
                    "user_groups": [{
                            "title": "RU"
                        },
                        {
                            "title": "UA"
                        }
                    ],
                    "access": "Senior Editor",
                    "active": false,
                    "online": true
                }, {
                    "id": 35,
                    "name": "Frederico Habert",
                    "email": "fhaberty@bloglovin.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "FM"
                        },
                        {
                            "title": "ID"
                        }
                    ],
                    "access": "VP Product Management",
                    "active": true,
                    "online": true
                }, {
                    "id": 36,
                    "name": "Aleta Hibling",
                    "email": "ahiblingz@nymag.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "IR"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "CM"
                        }
                    ],
                    "access": "Professor",
                    "active": false,
                    "online": true
                }, {
                    "id": 37,
                    "name": "Jacquenette Templeton",
                    "email": "jtempleton10@photobucket.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "MX"
                        },
                        {
                            "title": "PH"
                        },
                        {
                            "title": "PH"
                        }
                    ],
                    "access": "Environmental Specialist",
                    "active": true,
                    "online": false
                }, {
                    "id": 38,
                    "name": "Tedda Myrick",
                    "email": "tmyrick11@tumblr.com",
                    "user_groups": [{
                            "title": "LK"
                        },
                        {
                            "title": "PH"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Account Representative I",
                    "active": false,
                    "online": true
                }, {
                    "id": 39,
                    "name": "Pauly Bichard",
                    "email": "pbichard12@amazonaws.com",
                    "user_groups": [{
                        "title": "ID"
                    }],
                    "access": "Quality Engineer",
                    "active": true,
                    "online": true
                }, {
                    "id": 40,
                    "name": "Kayne Clemmens",
                    "email": "kclemmens13@google.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "MN"
                        },
                        {
                            "title": "IE"
                        }
                    ],
                    "access": "Assistant Manager",
                    "active": false,
                    "online": false
                }, {
                    "id": 41,
                    "name": "Nickola Grissett",
                    "email": "ngrissett14@stumbleupon.com",
                    "user_groups": [{
                            "title": "MX"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "MZ"
                        }
                    ],
                    "access": "Administrative Assistant I",
                    "active": false,
                    "online": false
                }, {
                    "id": 42,
                    "name": "Odele Matfield",
                    "email": "omatfield15@angelfire.com",
                    "user_groups": [{
                            "title": "PL"
                        },
                        {
                            "title": "MM"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "CZ"
                        },
                        {
                            "title": "SE"
                        }
                    ],
                    "access": "Safety Technician III",
                    "active": true,
                    "online": true
                }, {
                    "id": 43,
                    "name": "Willette Kinvig",
                    "email": "wkinvig16@shutterfly.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "PL"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "FR"
                        }
                    ],
                    "access": "Pharmacist",
                    "active": true,
                    "online": true
                }, {
                    "id": 44,
                    "name": "Datha Baton",
                    "email": "dbaton17@tripadvisor.com",
                    "user_groups": [{
                        "title": "ID"
                    }],
                    "access": "Engineer IV",
                    "active": false,
                    "online": true
                }, {
                    "id": 45,
                    "name": "Mehetabel Booth-Jarvis",
                    "email": "mboothjarvis18@nbcnews.com",
                    "user_groups": [{
                            "title": "CR"
                        },
                        {
                            "title": "AM"
                        }
                    ],
                    "access": "General Manager",
                    "active": false,
                    "online": true
                }, {
                    "id": 46,
                    "name": "Claus Pemberton",
                    "email": "cpemberton19@cdbaby.com",
                    "user_groups": [{
                        "title": "ID"
                    }],
                    "access": "Dental Hygienist",
                    "active": true,
                    "online": false
                }, {
                    "id": 47,
                    "name": "Laurena Yesichev",
                    "email": "lyesichev1a@hatena.ne.jp",
                    "user_groups": [{
                            "title": "SE"
                        },
                        {
                            "title": "MG"
                        }
                    ],
                    "access": "Geologist I",
                    "active": true,
                    "online": false
                }, {
                    "id": 48,
                    "name": "Kizzee Raithbie",
                    "email": "kraithbie1b@cnet.com",
                    "user_groups": [{
                        "title": "CN"
                    }],
                    "access": "Junior Executive",
                    "active": true,
                    "online": true
                }, {
                    "id": 49,
                    "name": "Auguste Clemenson",
                    "email": "aclemenson1c@wordpress.org",
                    "user_groups": [{
                            "title": "BR"
                        },
                        {
                            "title": "AO"
                        },
                        {
                            "title": "PK"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "TZ"
                        }
                    ],
                    "access": "Associate Professor",
                    "active": false,
                    "online": false
                }, {
                    "id": 50,
                    "name": "Joann Baylis",
                    "email": "jbaylis1d@google.com",
                    "user_groups": [{
                            "title": "VN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "ID"
                        }
                    ],
                    "access": "Administrative Assistant I",
                    "active": false,
                    "online": true
                }, {
                    "id": 51,
                    "name": "Osbourn Tuddenham",
                    "email": "otuddenham1e@cyberchimps.com",
                    "user_groups": [{
                            "title": "MX"
                        },
                        {
                            "title": "HT"
                        },
                        {
                            "title": "MD"
                        },
                        {
                            "title": "BR"
                        }
                    ],
                    "access": "Administrative Assistant II",
                    "active": true,
                    "online": true
                }, {
                    "id": 52,
                    "name": "Meridith Fryett",
                    "email": "mfryett1f@geocities.jp",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "VE"
                        },
                        {
                            "title": "NG"
                        }
                    ],
                    "access": "Media Manager I",
                    "active": false,
                    "online": false
                }, {
                    "id": 53,
                    "name": "Jillane Leeman",
                    "email": "jleeman1g@meetup.com",
                    "user_groups": [{
                        "title": "PT"
                    }],
                    "access": "Sales Associate",
                    "active": true,
                    "online": true
                }, {
                    "id": 54,
                    "name": "Berk Strathern",
                    "email": "bstrathern1h@blogs.com",
                    "user_groups": [{
                            "title": "PT"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "ID"
                        }
                    ],
                    "access": "Desktop Support Technician",
                    "active": false,
                    "online": true
                }, {
                    "id": 55,
                    "name": "Sapphira Loveguard",
                    "email": "sloveguard1i@apache.org",
                    "user_groups": [{
                        "title": "ER"
                    }],
                    "access": "Accounting Assistant II",
                    "active": true,
                    "online": false
                }, {
                    "id": 56,
                    "name": "Ianthe Vigus",
                    "email": "ivigus1j@macromedia.com",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Nurse Practicioner",
                    "active": false,
                    "online": true
                }, {
                    "id": 57,
                    "name": "Lorelei Andreassen",
                    "email": "landreassen1k@cnet.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "PH"
                        }
                    ],
                    "access": "Pharmacist",
                    "active": false,
                    "online": true
                }, {
                    "id": 58,
                    "name": "Bogey Sides",
                    "email": "bsides1l@gmpg.org",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "US"
                        },
                        {
                            "title": "TD"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Senior Sales Associate",
                    "active": false,
                    "online": false
                }, {
                    "id": 59,
                    "name": "Brietta Romayn",
                    "email": "bromayn1m@army.mil",
                    "user_groups": [{
                            "title": "FR"
                        },
                        {
                            "title": "KP"
                        },
                        {
                            "title": "FI"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "HN"
                        }
                    ],
                    "access": "Research Nurse",
                    "active": false,
                    "online": false
                }, {
                    "id": 60,
                    "name": "Silvana Bromehead",
                    "email": "sbromehead1n@cornell.edu",
                    "user_groups": [{
                            "title": "MA"
                        },
                        {
                            "title": "RU"
                        }
                    ],
                    "access": "Environmental Tech",
                    "active": true,
                    "online": false
                }, {
                    "id": 61,
                    "name": "Pincus Whiles",
                    "email": "pwhiles1o@mlb.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "PL"
                        },
                        {
                            "title": "UA"
                        }
                    ],
                    "access": "Graphic Designer",
                    "active": false,
                    "online": true
                }, {
                    "id": 62,
                    "name": "Maurise Spillane",
                    "email": "mspillane1p@theguardian.com",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Project Manager",
                    "active": false,
                    "online": true
                }, {
                    "id": 63,
                    "name": "Ignatius Sarsons",
                    "email": "isarsons1q@etsy.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "NL"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "BD"
                        }
                    ],
                    "access": "Help Desk Operator",
                    "active": true,
                    "online": false
                }, {
                    "id": 64,
                    "name": "Warner Norcock",
                    "email": "wnorcock1r@spiegel.de",
                    "user_groups": [{
                            "title": "FR"
                        },
                        {
                            "title": "JO"
                        },
                        {
                            "title": "CZ"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "ID"
                        }
                    ],
                    "access": "Structural Engineer",
                    "active": true,
                    "online": true
                }, {
                    "id": 65,
                    "name": "Allen Kedslie",
                    "email": "akedslie1s@statcounter.com",
                    "user_groups": [{
                            "title": "SE"
                        },
                        {
                            "title": "FR"
                        },
                        {
                            "title": "PE"
                        },
                        {
                            "title": "US"
                        }
                    ],
                    "access": "Web Developer III",
                    "active": true,
                    "online": false
                }, {
                    "id": 66,
                    "name": "Sari Itter",
                    "email": "sitter1t@indiegogo.com",
                    "user_groups": [{
                        "title": "ID"
                    }],
                    "access": "Mechanical Systems Engineer",
                    "active": true,
                    "online": true
                }, {
                    "id": 67,
                    "name": "Jere Hudleston",
                    "email": "jhudleston1u@oakley.com",
                    "user_groups": [{
                            "title": "PL"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "ZA"
                        }
                    ],
                    "access": "Research Nurse",
                    "active": true,
                    "online": false
                }, {
                    "id": 68,
                    "name": "Clio Harridge",
                    "email": "charridge1v@aboutads.info",
                    "user_groups": [{
                            "title": "PG"
                        },
                        {
                            "title": "ID"
                        }
                    ],
                    "access": "Operator",
                    "active": false,
                    "online": true
                }, {
                    "id": 69,
                    "name": "Janeen Yansons",
                    "email": "jyansons1w@craigslist.org",
                    "user_groups": [{
                        "title": "RU"
                    }],
                    "access": "Product Engineer",
                    "active": false,
                    "online": true
                }, {
                    "id": 70,
                    "name": "Gerhardine Reuter",
                    "email": "greuter1x@timesonline.co.uk",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "PH"
                        },
                        {
                            "title": "FR"
                        }
                    ],
                    "access": "Internal Auditor",
                    "active": true,
                    "online": true
                }, {
                    "id": 71,
                    "name": "Ritchie Beeston",
                    "email": "rbeeston1y@marriott.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "SE"
                        }
                    ],
                    "access": "Software Test Engineer III",
                    "active": true,
                    "online": false
                }, {
                    "id": 72,
                    "name": "Wilek Bock",
                    "email": "wbock1z@nymag.com",
                    "user_groups": [{
                            "title": "EG"
                        },
                        {
                            "title": "PT"
                        },
                        {
                            "title": "SE"
                        },
                        {
                            "title": "BD"
                        }
                    ],
                    "access": "Statistician IV",
                    "active": false,
                    "online": false
                }, {
                    "id": 73,
                    "name": "Hallsy Colles",
                    "email": "hcolles20@last.fm",
                    "user_groups": [{
                            "title": "SE"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "HR"
                        }
                    ],
                    "access": "Mechanical Systems Engineer",
                    "active": true,
                    "online": true
                }, {
                    "id": 74,
                    "name": "Trevar Courtliff",
                    "email": "tcourtliff21@chicagotribune.com",
                    "user_groups": [{
                            "title": "BR"
                        },
                        {
                            "title": "SE"
                        }
                    ],
                    "access": "Senior Quality Engineer",
                    "active": true,
                    "online": false
                }, {
                    "id": 75,
                    "name": "Salli Zellmer",
                    "email": "szellmer22@independent.co.uk",
                    "user_groups": [{
                        "title": "ID"
                    }],
                    "access": "Help Desk Operator",
                    "active": false,
                    "online": true
                }, {
                    "id": 76,
                    "name": "Arvin Gumbley",
                    "email": "agumbley23@nytimes.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "BR"
                        }
                    ],
                    "access": "Pharmacist",
                    "active": true,
                    "online": true
                }, {
                    "id": 77,
                    "name": "Lauraine Hosby",
                    "email": "lhosby24@gov.uk",
                    "user_groups": [{
                            "title": "PA"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "PT"
                        }
                    ],
                    "access": "Research Assistant II",
                    "active": true,
                    "online": false
                }, {
                    "id": 78,
                    "name": "Donavon Studdard",
                    "email": "dstuddard25@yellowpages.com",
                    "user_groups": [{
                        "title": "RU"
                    }],
                    "access": "Financial Advisor",
                    "active": true,
                    "online": false
                }, {
                    "id": 79,
                    "name": "Chas Braley",
                    "email": "cbraley26@soup.io",
                    "user_groups": [{
                        "title": "US"
                    }],
                    "access": "Junior Executive",
                    "active": true,
                    "online": false
                }, {
                    "id": 80,
                    "name": "Bettina Bulle",
                    "email": "bbulle27@mail.ru",
                    "user_groups": [{
                        "title": "BR"
                    }],
                    "access": "Human Resources Assistant II",
                    "active": false,
                    "online": false
                }, {
                    "id": 81,
                    "name": "Craggy Semorad",
                    "email": "csemorad28@chron.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Systems Administrator I",
                    "active": true,
                    "online": false
                }, {
                    "id": 82,
                    "name": "Cristi Chisolm",
                    "email": "cchisolm29@1und1.de",
                    "user_groups": [{
                            "title": "EC"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "VE"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Software Consultant",
                    "active": true,
                    "online": false
                }, {
                    "id": 83,
                    "name": "Wandie Bourget",
                    "email": "wbourget2a@businessweek.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "PT"
                        },
                        {
                            "title": "NP"
                        },
                        {
                            "title": "ZW"
                        }
                    ],
                    "access": "Research Associate",
                    "active": true,
                    "online": false
                }, {
                    "id": 84,
                    "name": "Kristi Miskimmon",
                    "email": "kmiskimmon2b@walmart.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "PT"
                        }
                    ],
                    "access": "GIS Technical Architect",
                    "active": true,
                    "online": true
                }, {
                    "id": 85,
                    "name": "Thorn Ryley",
                    "email": "tryley2c@tiny.cc",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "PH"
                        }
                    ],
                    "access": "Senior Developer",
                    "active": true,
                    "online": false
                }, {
                    "id": 86,
                    "name": "Bil Bonsale",
                    "email": "bbonsale2d@hud.gov",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "AR"
                        }
                    ],
                    "access": "Help Desk Operator",
                    "active": false,
                    "online": false
                }, {
                    "id": 87,
                    "name": "Halimeda Seger",
                    "email": "hseger2e@irs.gov",
                    "user_groups": [{
                        "title": "CN"
                    }],
                    "access": "Research Assistant III",
                    "active": false,
                    "online": false
                }, {
                    "id": 88,
                    "name": "Ric Biaggiotti",
                    "email": "rbiaggiotti2f@pcworld.com",
                    "user_groups": [{
                            "title": "UA"
                        },
                        {
                            "title": "IL"
                        }
                    ],
                    "access": "Research Assistant I",
                    "active": true,
                    "online": false
                }, {
                    "id": 89,
                    "name": "Alyce D'Aguanno",
                    "email": "adaguanno2g@360.cn",
                    "user_groups": [{
                        "title": "ID"
                    }],
                    "access": "General Manager",
                    "active": true,
                    "online": false
                }, {
                    "id": 90,
                    "name": "Lucia Eltun",
                    "email": "leltun2h@shop-pro.jp",
                    "user_groups": [{
                            "title": "SE"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Software Test Engineer III",
                    "active": false,
                    "online": false
                }, {
                    "id": 91,
                    "name": "Penelope Lamperti",
                    "email": "plamperti2i@so-net.ne.jp",
                    "user_groups": [{
                            "title": "UA"
                        },
                        {
                            "title": "KR"
                        },
                        {
                            "title": "NG"
                        },
                        {
                            "title": "HR"
                        }
                    ],
                    "access": "Assistant Manager",
                    "active": true,
                    "online": false
                }, {
                    "id": 92,
                    "name": "Carolin Ellacott",
                    "email": "cellacott2j@cloudflare.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "AS"
                        },
                        {
                            "title": "RU"
                        },
                        {
                            "title": "AF"
                        }
                    ],
                    "access": "Nuclear Power Engineer",
                    "active": false,
                    "online": true
                }, {
                    "id": 93,
                    "name": "Belita Wadley",
                    "email": "bwadley2k@aol.com",
                    "user_groups": [{
                            "title": "UG"
                        },
                        {
                            "title": "PH"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "EG"
                        }
                    ],
                    "access": "Editor",
                    "active": true,
                    "online": true
                }, {
                    "id": 94,
                    "name": "Salvatore Brayshay",
                    "email": "sbrayshay2l@aol.com",
                    "user_groups": [{
                            "title": "CO"
                        },
                        {
                            "title": "CD"
                        }
                    ],
                    "access": "Food Chemist",
                    "active": false,
                    "online": true
                }, {
                    "id": 95,
                    "name": "Quinton Barday",
                    "email": "qbarday2m@163.com",
                    "user_groups": [{
                        "title": "RU"
                    }],
                    "access": "Software Consultant",
                    "active": true,
                    "online": false
                }, {
                    "id": 96,
                    "name": "Orel Chadwin",
                    "email": "ochadwin2n@hibu.com",
                    "user_groups": [{
                            "title": "ID"
                        },
                        {
                            "title": "PE"
                        },
                        {
                            "title": "PL"
                        },
                        {
                            "title": "AL"
                        },
                        {
                            "title": "PT"
                        }
                    ],
                    "access": "Geologist IV",
                    "active": true,
                    "online": true
                }, {
                    "id": 97,
                    "name": "Dorice Triplow",
                    "email": "dtriplow2o@hexun.com",
                    "user_groups": [{
                            "title": "PT"
                        },
                        {
                            "title": "BR"
                        },
                        {
                            "title": "RU"
                        }
                    ],
                    "access": "Civil Engineer",
                    "active": false,
                    "online": true
                }, {
                    "id": 98,
                    "name": "Dominick Eisikowitz",
                    "email": "deisikowitz2p@amazonaws.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "GR"
                        }
                    ],
                    "access": "Electrical Engineer",
                    "active": true,
                    "online": false
                }, {
                    "id": 99,
                    "name": "Trudy Pridie",
                    "email": "tpridie2q@guardian.co.uk",
                    "user_groups": [{
                            "title": "FR"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "CN"
                        }
                    ],
                    "access": "Staff Accountant III",
                    "active": false,
                    "online": false
                }, {
                    "id": 100,
                    "name": "Herculie Cretney",
                    "email": "hcretney2r@skype.com",
                    "user_groups": [{
                            "title": "CN"
                        },
                        {
                            "title": "CN"
                        },
                        {
                            "title": "ID"
                        },
                        {
                            "title": "RU"
                        },
                        {
                            "title": "ES"
                        }
                    ],
                    "access": "Web Developer III",
                    "active": true,
                    "online": false
                }],
                headers: [{
                        text: 'Name',
                        value: 'name',
                    },
                    {
                        text: 'Email',
                        value: 'email',
                    },
                    {
                        text: 'User Groups',
                        value: 'user_groups[0].title',
                    },
                    {
                        text: 'Access',
                        value: 'access',
                    },
                    {
                        text: '',
                        sortable: false
                    }
                ]
            }
        },
        directives: {
            borderLeft: {
                bind: ( el, binding ) => {
                    if( binding.value )
                        el.classList.add('online')
                    else
                        el.classList.add('offline')
                }
            },
        },
        mounted() {

        }
    }

</script>

<style lang="scss">
    td {
        .controls {
            float: right;
            button {
                display: inline-block !important;
                margin: 0px 0px;
                height: 25px;
                width: 25px;
                a {
                    text-decoration: none;
                    color: #000000;
                }
                i {
                    font-size: 15px !important;
                }
            }
        }
    }
</style>
