<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center>
            <v-flex xs12 sm12>
                <div id="timesheet-control">
                    <v-btn depressed color="success" @click="changeWeek('prev')">
                        <v-icon>keyboard_arrow_left</v-icon>
                    </v-btn>
                    <v-btn depressed color="success" @click="changeWeek('next')">
                        <v-icon>keyboard_arrow_right</v-icon>
                    </v-btn>
                </div>
                <div id="timesheet-calendar">
                    <div class="timesheet-column" v-for="(week, index) in daysInWeek" :key="index">
                        <div class="timesheet-head">
                            <span>{{ week }}</span>
                            <span class="devider"> | </span>
                            <span class="work-total">7h 45m</span>
                            <span @click="showTimesheetModal($event, 'add')">+</span>
                        </div>
                        <div class="timesheet-tasks">
                            <div class="task" v-for="(task, index) in 10" :key="index">
                                <div class="task-header">
                                    <span class="task-id">{{ 'TSK-' + task }}</span>
                                    <span class="devider"> | </span>
                                    <span class="work-time">3h 45m</span>
                                    <v-icon @click="showTimesheetModal($event, 'remove')">far fa-trash-alt</v-icon>&nbsp;
                                    <v-icon @click="showTimesheetModal($event, 'update')">fas fa-pencil-alt</v-icon>
                                </div>
                                <div class="task-description">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor ad quod aut modi fugiat pariatur voluptatum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </v-flex>
            <v-dialog v-model="dialog" width="700">
                <v-card>
                    <v-card-text>
                        <p v-if="modalParam === 'add'">Add Task</p>
                        <p v-else-if="modalParam === 'update'">Update Task</p>
                        <p v-else>remove Task</p>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" flat @click="dialog = false">
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    import moment from 'moment'

    export default {
        data() {
            return {
                startOfWeek: moment().startOf('week'),
                endOfWeek: moment().endOf('week'),
                daysInWeek: null,
                dialog: false,
                addWorkLog: null,
                updateWorkLog: null,
                removeWorkLog: null,
                modalParam: null
            }
        },
        methods: {
            changeWeek( param ) {
                if( param === 'prev' ) {
                    this.startOfWeek = this.startOfWeek.subtract(1, 'week')
                    this.endOfWeek = this.endOfWeek.subtract(1, 'week')
                }
                else {
                    this.startOfWeek = this.startOfWeek.add(1, 'week')
                    this.endOfWeek = this.endOfWeek.add(1, 'week')
                }
                this.getDaysOfWeek()
            },
            getDaysOfWeek() {
                let days = [];
                let start = this.startOfWeek
                let end = this.endOfWeek

                while ( start <= end ) {
                    days.push( moment(start).format('ddd DD.MM') );
                    start = start.clone().add(1, 'd');
                }

                this.daysInWeek =  days
            },
            addNewTimesheetTask() {
                let self = this
                if( this.addWorkLog ) {
                    let taskContainer = this.addWorkLog
                
                    let newTaskContainer = document.createElement('div')
                        newTaskContainer.className = 'task'

                    let deleteIcon = document.createElement('i')
                        deleteIcon.className ='far fa-trash-alt'
                        deleteIcon.addEventListener('click', self.removeTimesheetTask())

                    //new task texts
                    let tskId = document.createTextNode('TSK-NEW')
                    let taskDesc = document.createTextNode('Lorem ipsum dolor sit, amet consectetur adipisicing elit.')

                    let newTaskId = document.createElement('div')
                        newTaskId.className = 'task-id'

                        newTaskId.appendChild(tskId)
                        newTaskId.appendChild(deleteIcon)

                    let newTaskDesc = document.createElement('div')
                        newTaskDesc.className = 'work-description'
                        newTaskDesc.appendChild(taskDesc);

                        newTaskContainer.appendChild(newTaskId)
                        newTaskContainer.appendChild(newTaskDesc)   
                    
                    //make request to server here
                    
                    taskContainer.prepend(newTaskContainer)
                }
            },
            updateTimesheetTask() {
                console.log(this.updateWorkLog)
            },
            removeTimesheetTask() {
                if( this.removeWorkLog ) {
                    this.removeWorkLog.remove()
                }
            },
            showTimesheetModal( event, param ) {
                this.modalParam = param
                this.addWorkLog = this.updateWorkLog = this.removeWorkLog = null

                if( param === 'add' ) {
                    this.addWorkLog = event.target.parentElement.nextSibling
                    this.addNewTimesheetTask()
                }
                else if( param === 'update' ) {
                    this.updateWorkLog = event.target.parentElement.parentElement
                    this.updateTimesheetTask()
                }
                else {
                    this.removeWorkLog = event.target.parentElement.parentElement
                    this.removeTimesheetTask()
                }

                this.dialog = !this.dialog
            }
        },
        mounted() {
            let self = this
            document.body.addEventListener( 'click', function ( event ) {
                if( event.target.classList[1] === 'fa-trash-alt' ) {
                    self.showTimesheetModal( event, 'remove' )
                }
            })

            this.getDaysOfWeek()
        }
    }
</script>

<style lang="scss">
    #timesheet-control {
        float: right;
        margin-bottom: 5px;
        .v-btn {
            margin: 0px 0px !important;
            font-size: 12px;
            height: 25px;
            min-width: 40px;
            padding: 0px 5px;
            min-width: 30px;
            &:first-child {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            &:last-child {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }
    #timesheet-calendar {
        width: 100%;
        display: flex;
        flex: 1;
        min-height: 100vh;
        .timesheet-column {
            display: block;
            flex: 0 0 14.258%;
            border: 1px solid #eaeaea;
            &:first-child {
                border-left: 1px solid #eaeaea;
            }
            &:not(first-child) {
                border-left: none;
            }
            .timesheet-head,
            .timesheet-tasks {
                display: block;
                width: 100%;
            }
            .timesheet-head {
                border-bottom: 1px solid #eaeaea;
                padding: 10px;
                font-size: 15px;
                font-weight: 700;
                color: #217ad3;
                span {
                    &:last-child {
                        float: right;
                        font-size: 20px;
                        line-height: 20px;
                        cursor: pointer;
                    }
                    &.devider {
                        color: #a09c9c;
                    }
                    &.work-total {
                        font-size: 15px;
                        color: #ff4141;
                    }
                }
            }
            .timesheet-tasks {
                padding: 10px;
                .task {
                    margin-bottom: 10px;
                    border: 1px solid #eaeaea;
                    cursor: pointer;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    &:hover {
                        .task-header {
                            i {
                                display: block;
                            }
                        }
                    }
                    .task-header {
                        width: 100%;
                        display: block;
                        background: #eaeaea;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 12px;
                        padding: 10px 5px;
                        i {
                            font-size: 15px;
                            float: right;
                            display: none;
                            margin-left: 8px;
                        }
                    }
                    .task-description {
                        font-size: 12px;
                        padding: 5px;
                    }
                }
            }
        }
    }
</style>