<template>
    <v-app id="inspire">
        <v-content>
            <main-nav></main-nav>
            <nuxt/>
        </v-content>
    </v-app>
</template>

<script>
    import Vue from 'vue'
    import Vuetify from 'vuetify'
    import MainNav from '~/components/Navigations/Main.vue'
    Vue.use(Vuetify)
    export default {
        scrollToTop: true,
        components: {
            MainNav
        }
    }
</script>
