<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center>
            <v-flex xs12 sm12>

                <!-- <div :style="{ 'display': 'flex', 'justifyContent': 'stretch', 'marginTop': '50px', 'marginRight': '50px' }">
                    <div :style="{'marginLeft': '50px', 'flex': '1'}">
                        <Container :group-name="'1'" :get-child-payload="getChildPayload1" @drop="onDrop('items1', $event)">
                            <Draggable v-for="item in items1" :key="item.id">
                                <div class="draggable-item">
                                    {{item.data}}
                                </div>
                            </Draggable>
                        </Container>
                    </div>
                    <div :style="{'marginLeft': '50px', 'flex': '1'}">
                        <Container :group-name="'1'" :get-child-payload="getChildPayload2" @drop="onDrop('items2', $event)">
                            <Draggable v-for="item in items2" :key="item.id">
                                <div class="draggable-item">
                                    {{item.data}}
                                </div>
                            </Draggable>
                        </Container>
                    </div>
                </div> -->

                <masonry :cols="3" :gutter="0" class="masonry-container">
                    <v-flex class="item" v-for="(item, index) in items" :key="item.name">
                        <v-card flat>
                            <v-card-text class="name">
                                <p class="text-lg-center text-md-center">{{ item.name }}</p>
                            </v-card-text>
                            <v-list dense class="task">
                                <Container :group-name="'1'" :get-child-payload="getUsersTasks" @drop="onDrop(item.tasks, index, $event)">
                                    <Draggable v-for="task in item.tasks" :key="task.id">
                                        <div class="draggable-item">
                                            {{task.ticket}}
                                        </div>
                                    </Draggable>
                                </Container>
                            </v-list>
                        </v-card>
                    </v-flex>
                </masonry>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Vue from 'vue'
    import VueMasonry from 'vue-masonry-css'
    import {
        Container,
        Draggable
    } from "vue-smooth-dnd"
    Vue.use(VueMasonry)

    const generateItems = (count, creator) => {
        const result = []
        for (let i = 0; i < count; i++) {
            result.push(creator(i))
        }
        return result
    }

    export default {
        components: {
            Container,
            Draggable
        },
        data() {
            return {
                items: [
                    {
                        name: 'Designer 1',
                        role: 'Web designer',
                        tasks: [{
                                id: 10001,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 10002,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 10003,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 10004,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 10005,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            }
                        ]
                    },
                    {
                        name: 'Designer 2',
                        role: 'Web designer',
                        tasks: [{
                                id: 20001,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 20002,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 20003,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            }
                        ]
                    },
                    {
                        name: 'Designer 3',
                        role: 'Web designer',
                        tasks: [{
                                id: 30001,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 30002,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 30003,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 30004,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 30005,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 30006,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            }
                        ]
                    },
                    {
                        name: 'Designer 4',
                        role: 'Web designer',
                        tasks: [{
                                id: 40001,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 40002,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 40003,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 40004,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 40005,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 40006,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 40007,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 40008,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 40009,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 400010,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            }
                        ]
                    },
                    {
                        name: 'Designer 5',
                        role: 'Web designer',
                        tasks: [{
                                id: 50001,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 50002,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 50003,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 50004,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 50005,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 50006,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            }
                        ]
                    },
                    {
                        name: 'Designer 6',
                        role: 'Web designer',
                        tasks: [{
                                id: 60001,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 60002,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 60003,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 60004,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 60005,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 60006,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 60007,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 60008,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            }
                        ]
                    },
                    {
                        name: 'Designer 7',
                        role: 'Web designer',
                        tasks: [{
                                id: 70001,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 70002,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 70003,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 70004,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 70005,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 70006,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 70007,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 70008,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            }
                        ]
                    },
                    {
                        name: 'Designer 8',
                        role: 'Web designer',
                        tasks: [{
                                id: 80001,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 80002,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 80003,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 80004,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 80005,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 80006,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            },
                            {
                                id: 80007,
                                ticket: 'TSK1',
                                title: 'Test taks 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Concept Only'
                                },
                                due: '10/11/2018'
                            },
                            {
                                id: 80008,
                                ticket: 'TSK2',
                                title: 'Test taks 2',
                                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel alias minus, autem quasi officiis.',
                                phase: {
                                    id: 1,
                                    title: 'Dev Required'
                                },
                                due: '10/12/2018'
                            }
                        ]
                    }
                ],
                items1: generateItems(15, i => ({
                    id: "1" + i,
                    data: `Draggable 1 - ${i}`
                })),
                items2: generateItems(20, i => ({
                    id: "2" + i,
                    data: `Draggable 2 - ${i}`
                })),
            }
        },
        methods: {
            onDrop(collection, index, dropResult) {
                console.log(collection, dropResult)
                //console.log(collection, this[collection], '------------------ondrop')
                if( this.items[index] ){
                    this.items[index].tasks = this.applyDrag(collection, dropResult)
                }
            },
            getChildPayload1: function (index) {
                return this.items1[index];
            },
            getChildPayload2: function (index) {
                return this.items2[index];
            },
            applyDrag(arr, dragResult) {

                console.log(dragResult)
                
                const {
                    removedIndex,
                    addedIndex,
                    payload
                } = dragResult
                if (removedIndex === null && addedIndex === null) return arr

                const result = [...arr]
                let itemToAdd = payload

                if (removedIndex !== null) {
                    itemToAdd = result.splice(removedIndex, 1)[0]
                }

                if (addedIndex !== null) {
                    result.splice(addedIndex, 0, itemToAdd)
                }

                return result
            },
            getUsersTasks(itemIndex, index) {
                return this.items[itemIndex][index]
            },
        },
        mounted() {
            console.log('test')
        }
    }

</script>

<style lang="scss">
    .masonry-container {
        .item {
            .v-card {
                border: 1px solid #eaeaea !important;
            }
            .name {
                p {
                    margin-bottom: 0px;
                }
            }
        }
    }

</style>
