<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center>
            <v-flex xs12 sm12>
                <v-data-table hide-actions :headers="headers" :items="files">
                    <tr slot="items" slot-scope="props">
                        <td>{{props.item.bucket}}</td>
                        <td>{{props.item.name}}</td>
                        <td>{{props.item.path}}</td>

                        <td>{{props.item.filetype}}</td>

                        <td>
                            {{props.item.createddate}}
                            <v-btn icon>
                                <v-icon class="show-more">more_vert</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { files } from '../../modules/data/mock/files'
    export default {
        data() {
            return {
                files: files(),
                headers: [
                    {
                        text: 'Bucket',
                        value: 'bucket'
                    },
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Path',
                        value: 'path'
                    },
                    {
                        text: 'File type',
                        value: 'filetype'
                    },
                    {
                        text: 'Date',
                        value: 'createddate'
                    }
                ]
            }
        },
        mounted() {

        }
    }
</script>

<style lang="scss">
    table {
        tbody {
            tr {
                td {
                    position: relative;
                    button {
                        position: absolute !important;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
</style>