<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-start align-space-around fill-height>
            <v-flex xs12 sm12 md12>
                <v-tabs light>
                    <v-tab v-for="tab in tabs" :key="tab.title">
                        {{ tab.title }} {{ countTask( tab.tasks )}}
                    </v-tab>
                    <v-tab-item v-for="tab in tabs" :key="tab.title">
                        <v-data-table hide-actions :headers="headers" :items="tab.tasks">
                            <tr slot="items" slot-scope="props">
                                <td v-borderLeft="props.item.phase.id">
                                    <nuxt-link :to="'/taks/' + props.item.ticket">{{props.item.ticket}}</nuxt-link>
                                </td>
                                <td>{{props.item.title}}</td>

                                <td v-if="props.item.phase.id == 1">{{props.item.phase.title}}</td>
                                <td v-else></td>

                                <td v-if="props.item.phase.id == 2">{{props.item.phase.title}}</td>
                                <td v-else></td>

                                <td v-if="props.item.phase.id == 3">{{props.item.phase.title}}</td>
                                <td v-else></td>

                                <td>{{props.item.due}}</td>
                            </tr>
                        </v-data-table>
                    </v-tab-item>
                    <v-card class="filters">
                        <v-switch v-model="filter.onlyMyTask"></v-switch>
                        <v-switch v-model="filter.onlyConcept"></v-switch>
                        <v-switch v-model="filter.hideInReview"></v-switch>
                        <v-select :items="companies" dense outline></v-select>
                        <nuxt-link :to="'/ops/create'">
                            <v-btn depressed color="success">New Ops +</v-btn>
                        </nuxt-link>
                    </v-card>
                </v-tabs>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { tasks } from '../../modules/data/mock/tasks'

    export default {
        data() {
            return {
                filter: {
                    onlyMyTask: false,
                    onlyConcept: false,
                    hideInReview: true
                },
                tabs: tasks(),
                headers: [{
                        text: 'Ticket',
                        value: 'ticket'
                    },
                    {
                        text: 'Title',
                        value: 'title'
                    },
                    {
                        text: 'Concept',
                        value: 'phase.title'
                    },
                    {
                        text: 'Development',
                        value: 'developement'
                    },
                    {
                        text: 'Deploy',
                        value: 'deploy'
                    },
                    {
                        text: 'Due',
                        value: 'due'
                    }
                ],
                companies: ['Select Company', 'LK Property', 'Capitol Grand', 'Amity', 'NBL', 'Melbourne United', 'eCal', 'Infinite Rewards', 'Wall Street']
            }
        },
        directives: {
            borderLeft: {
                bind: ( el, binding ) => {
                    if( binding.value === 1 )
                        el.classList.add('border-primary')
                    else if( binding.value === 2 )
                        el.classList.add('border-secondary')
                    else
                        el.classList.add('border-tertiary')
                }
            },
            backGround: {
                bind: ( el, binding ) => {
                    let x = Math.floor(Math.random() * 256),
                        y = Math.floor(Math.random() * 256),
                        z = Math.floor(Math.random() * 256),
                        bgColor = "rgb(" + x + "," + y + "," + z + ")";
                    el.style.background = bgColor;
                }
            }
        },
        methods: {
            countTask(tasks) {
                if (tasks && tasks.length > 0) {
                    return tasks.length
                }
            }
        },
        mounted() {

        }
    }

</script>

<style lang="scss">

</style>
