<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center>
            <v-flex xs12 sm12>
                <v-data-table hide-actions :headers="headers" :items="groups">
                    <tr slot="items" slot-scope="props" :key="props.item.id">
                        <td>
                            {{props.item.group_name}}
                        </td>
                        <td>{{props.item.group_acronym}}</td>
                        <td>
                            {{props.item.approval_proccess}}
                        </td>
                        <td>
                            {{props.item.jira_projects}}
                        </td>
                    </tr>
                </v-data-table>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                groups: [{
  "id": 1,
  "group_name": "Devbug",
  "group_acronym": "MRO",
  "approval_proccess": "Engineering",
  "jira_projects": "Clothing"
}, {
  "id": 2,
  "group_name": "Zoozzy",
  "group_acronym": "BRL",
  "approval_proccess": "Sales",
  "jira_projects": "Computers"
}, {
  "id": 3,
  "group_name": "Twitterbridge",
  "group_acronym": "TZS",
  "approval_proccess": "Legal",
  "jira_projects": "Electronics"
}, {
  "id": 4,
  "group_name": "Avamm",
  "group_acronym": "UAH",
  "approval_proccess": "Business Development",
  "jira_projects": "Computers"
}, {
  "id": 5,
  "group_name": "Zoonoodle",
  "group_acronym": "COP",
  "approval_proccess": "Business Development",
  "jira_projects": "Health"
}, {
  "id": 6,
  "group_name": "Trudeo",
  "group_acronym": "EUR",
  "approval_proccess": "Training",
  "jira_projects": "Garden"
}, {
  "id": 7,
  "group_name": "Miboo",
  "group_acronym": "CNY",
  "approval_proccess": "Research and Development",
  "jira_projects": "Automotive"
}, {
  "id": 8,
  "group_name": "Devcast",
  "group_acronym": "RUB",
  "approval_proccess": "Services",
  "jira_projects": "Health"
}, {
  "id": 9,
  "group_name": "Avamm",
  "group_acronym": "CNY",
  "approval_proccess": "Legal",
  "jira_projects": "Movies"
}, {
  "id": 10,
  "group_name": "Feedfish",
  "group_acronym": "IDR",
  "approval_proccess": "Business Development",
  "jira_projects": "Music"
}, {
  "id": 11,
  "group_name": "Yakitri",
  "group_acronym": "IRR",
  "approval_proccess": "Engineering",
  "jira_projects": "Automotive"
}, {
  "id": 12,
  "group_name": "Wikibox",
  "group_acronym": "CNY",
  "approval_proccess": "Support",
  "jira_projects": "Toys"
}, {
  "id": 13,
  "group_name": "Quire",
  "group_acronym": "EUR",
  "approval_proccess": "Support",
  "jira_projects": "Movies"
}, {
  "id": 14,
  "group_name": "Rhyloo",
  "group_acronym": "MNT",
  "approval_proccess": "Business Development",
  "jira_projects": "Grocery"
}, {
  "id": 15,
  "group_name": "Voomm",
  "group_acronym": "IDR",
  "approval_proccess": "Research and Development",
  "jira_projects": "Shoes"
}, {
  "id": 16,
  "group_name": "Jazzy",
  "group_acronym": "CNY",
  "approval_proccess": "Training",
  "jira_projects": "Sports"
}, {
  "id": 17,
  "group_name": "Realblab",
  "group_acronym": "DOP",
  "approval_proccess": "Engineering",
  "jira_projects": "Baby"
}, {
  "id": 18,
  "group_name": "Lajo",
  "group_acronym": "CZK",
  "approval_proccess": "Services",
  "jira_projects": "Industrial"
}, {
  "id": 19,
  "group_name": "Bluejam",
  "group_acronym": "PHP",
  "approval_proccess": "Human Resources",
  "jira_projects": "Grocery"
}, {
  "id": 20,
  "group_name": "Jabbersphere",
  "group_acronym": "BRL",
  "approval_proccess": "Training",
  "jira_projects": "Games"
}, {
  "id": 21,
  "group_name": "Twitterworks",
  "group_acronym": "MNT",
  "approval_proccess": "Engineering",
  "jira_projects": "Computers"
}, {
  "id": 22,
  "group_name": "Ozu",
  "group_acronym": "RUB",
  "approval_proccess": "Sales",
  "jira_projects": "Games"
}, {
  "id": 23,
  "group_name": "Linklinks",
  "group_acronym": "IDR",
  "approval_proccess": "Accounting",
  "jira_projects": "Sports"
}, {
  "id": 24,
  "group_name": "Plambee",
  "group_acronym": "EUR",
  "approval_proccess": "Training",
  "jira_projects": "Books"
}, {
  "id": 25,
  "group_name": "Photofeed",
  "group_acronym": "IDR",
  "approval_proccess": "Engineering",
  "jira_projects": "Industrial"
}, {
  "id": 26,
  "group_name": "Pixope",
  "group_acronym": "IDR",
  "approval_proccess": "Support",
  "jira_projects": "Kids"
}, {
  "id": 27,
  "group_name": "Camido",
  "group_acronym": "MXN",
  "approval_proccess": "Product Management",
  "jira_projects": "Music"
}, {
  "id": 28,
  "group_name": "Mudo",
  "group_acronym": "BRL",
  "approval_proccess": "Training",
  "jira_projects": "Beauty"
}, {
  "id": 29,
  "group_name": "Blognation",
  "group_acronym": "CNY",
  "approval_proccess": "Human Resources",
  "jira_projects": "Home"
}, {
  "id": 30,
  "group_name": "Ainyx",
  "group_acronym": "MYR",
  "approval_proccess": "Sales",
  "jira_projects": "Kids"
}, {
  "id": 31,
  "group_name": "Chatterbridge",
  "group_acronym": "CNY",
  "approval_proccess": "Human Resources",
  "jira_projects": "Tools"
}, {
  "id": 32,
  "group_name": "Kwimbee",
  "group_acronym": "JPY",
  "approval_proccess": "Legal",
  "jira_projects": "Kids"
}, {
  "id": 33,
  "group_name": "Browsedrive",
  "group_acronym": "IDR",
  "approval_proccess": "Research and Development",
  "jira_projects": "Toys"
}, {
  "id": 34,
  "group_name": "Dynabox",
  "group_acronym": "IDR",
  "approval_proccess": "Human Resources",
  "jira_projects": "Garden"
}, {
  "id": 35,
  "group_name": "Skiba",
  "group_acronym": "EUR",
  "approval_proccess": "Product Management",
  "jira_projects": "Computers"
}, {
  "id": 36,
  "group_name": "Snaptags",
  "group_acronym": "PHP",
  "approval_proccess": "Product Management",
  "jira_projects": "Beauty"
}, {
  "id": 37,
  "group_name": "Devshare",
  "group_acronym": "PYG",
  "approval_proccess": "Marketing",
  "jira_projects": "Automotive"
}, {
  "id": 38,
  "group_name": "Flashpoint",
  "group_acronym": "PHP",
  "approval_proccess": "Legal",
  "jira_projects": "Garden"
}, {
  "id": 39,
  "group_name": "Kwilith",
  "group_acronym": "EUR",
  "approval_proccess": "Accounting",
  "jira_projects": "Baby"
}, {
  "id": 40,
  "group_name": "Edgeclub",
  "group_acronym": "IDR",
  "approval_proccess": "Sales",
  "jira_projects": "Games"
}, {
  "id": 41,
  "group_name": "Flipopia",
  "group_acronym": "KMF",
  "approval_proccess": "Legal",
  "jira_projects": "Tools"
}, {
  "id": 42,
  "group_name": "Gevee",
  "group_acronym": "CNY",
  "approval_proccess": "Business Development",
  "jira_projects": "Shoes"
}, {
  "id": 43,
  "group_name": "Dabjam",
  "group_acronym": "EUR",
  "approval_proccess": "Research and Development",
  "jira_projects": "Computers"
}, {
  "id": 44,
  "group_name": "Blognation",
  "group_acronym": "CNY",
  "approval_proccess": "Services",
  "jira_projects": "Music"
}, {
  "id": 45,
  "group_name": "Dabjam",
  "group_acronym": "EUR",
  "approval_proccess": "Training",
  "jira_projects": "Home"
}, {
  "id": 46,
  "group_name": "Oyoloo",
  "group_acronym": "BWP",
  "approval_proccess": "Research and Development",
  "jira_projects": "Home"
}, {
  "id": 47,
  "group_name": "Youopia",
  "group_acronym": "PLN",
  "approval_proccess": "Product Management",
  "jira_projects": "Garden"
}, {
  "id": 48,
  "group_name": "Babbleblab",
  "group_acronym": "CNY",
  "approval_proccess": "Product Management",
  "jira_projects": "Computers"
}, {
  "id": 49,
  "group_name": "Gevee",
  "group_acronym": "VEF",
  "approval_proccess": "Legal",
  "jira_projects": "Industrial"
}, {
  "id": 50,
  "group_name": "Tambee",
  "group_acronym": "CAD",
  "approval_proccess": "Services",
  "jira_projects": "Baby"
}],
                headers: [{
                        text: 'Name',
                        value: 'name',
                    },
                    {
                        text: 'Acronym',
                        value: 'group_acronym',
                    },
                    {
                        text: 'Approval Process',
                        value: 'approval_proccess',
                    },
                    {
                        text: 'Jira Project',
                        value: 'jira_projects',
                    }
                ]
            }
        },
        mounted() {

        }
    }
</script>

<style lang="scss">

</style>